body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.welcome {
    font-size: 24px;
    margin-top: 20px;
}

.profile-picture {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
}

.logout-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    float: right; /* Float the logout button to the right */
}